.banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../image/banner-background@1x.jpg");
  background-color: #f1efeb;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__content-wrapper {
  width: 50%;
}

.banner__content {
  padding-left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  width: 300px;
  margin: 0 0 30px 0;
}

.banner__description {
  margin: 0 0 40px 0;
  width: 300px;
}
