.footer {
  background-color: #f4f1ed;
}

.footer__content-wrapper {
  border-bottom: 1px solid #d1d1d1;
}

.footer__content {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer__menu {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 50px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 70px;
  }
}

.footer__item {
  margin-right: 10px;
  margin-bottom: 15px;
  width: 90px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: auto;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.footer__link {
  font: normal normal 14px/21px "Mplus", "Arial", sans-serif;
  color: #122947;
  outline: 0;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: 0.2s;
  }
}

.footer__socials {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.footer__copyright {
  color: #959595;
  font-size: 12px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 18px;

}

.footer__copyright-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;

  }
}

.footer__copyright-wrapper p {
  margin: 0;
}

.footer__copyright-link {
  color: inherit;
  outline: 0;
  transition: 0.2s;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    transition: 0.2s;
  }
}

