.navigation__list {
  list-style: none;
  font-size: 16px;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__item:not(:last-child) {
  margin-right: 35px;
}

.navigation__link {
  color: #122947;
  font-family: "Mplus", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: 0.2s;
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
    transition: 0.2s;
  }
}

