@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway.woff2") format("woff2"), url("../fonts/raleway.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-500.woff2") format("woff2"), url("../fonts/raleway-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus";
  src: url("../fonts/m-plus-1p.woff2") format("woff2"), url("../fonts/m-plus-1p.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus";
  src: url("../fonts/m-plus-1p-500.woff2") format("woff2"), url("../fonts/m-plus-1p-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
